html {
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    color: white;
}

body {
    color: white;
}

#findtune-logo {
    width: 407px;
    height: 233px;;
}

.title {
    font-size: 72px;
    color: white;
}

.subtitle {
    color: white;
}

.main {
    margin-top: 1%;
    text-align: center;
}

.main-results {
    text-align: center;
}

#search {
    justify-content: center
}

#sim-art-head {
    font-size: 32px;
}

#artist-name {
    font-size: 28px;
}

/* Carousel */
/* external css: flickity.css */

* { box-sizing: border-box; }
.carousel {
 
  }
  
  .carousel-cell {
    width: 356px;
    height: 237px;
    margin-right: 10px;
    background: black;
    border-radius: 5px;
    border-color: red;
    /* counter-increment: carousel-cell; */
  }
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    /* content: counter(carousel-cell); */
    line-height: 200px;
    font-size: 80px;

  }
  
.carousel-image {
    width: 100%
}

#artist-image{
    width: 356px;
    height: 237px;
}

#results {
    display: none;
}

.input, #submit-button {
    background-color: black;
    border-color: red;
    color: white;
}